/* static/css/404.css */
.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    background-color: #312118; 
    margin: 0;
}

.error-page h1 {
    font-size: 3rem; 
}

.error-text {
    margin-top: 10px;
}

.error-text a {
    color: #007bff;
    text-decoration: none;
}

.error-text a:hover {
    text-decoration: underline;
}
