{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form id="reportCommentForm" action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="comment_id" value="">
    <div class="mb-3">
        <label for="report_reason" class="form-label">Reason for Reporting</label>
        <textarea class="form-control" id="report_reason" name="report_reason" rows="3" required></textarea>
    </div>
    <button type="submit" class="btn btn-danger">Report</button>
</form>


{% endblock %}

{% block footer %}
<footer class="footer">
<div class="container text-center">
    <p>&copy; 2024 Powercakes. All Rights Reserved.</p>
    <div class="social-links">
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">YouTube</a>
    </div>
</div>
</footer>
{% endblock %}